<div class="page-header">
	<h1 class="hleft">Vad är TeleCoach?</h1>
</div>

<p>
TeleCoach™ för riskbruk av alkohol
Drygt 15% av den svenska befolkningen har ett riskbruk av alkohol. Individer med riskbruk finns såväl utanför sjukvården som i riskgrupper inom sjukvården. Enkla frågor om alkoholkonsumtionen för att identifiera eventuella problem och korta riktade samtal har visat sig ofta vara tillräckliga för att individen ska minska sitt riskbruk.</p>
<br>
<h2 class="hleft">Syfte och mål</h2><br>

<p>
Tidigare forskning pekar på att automatiserat telefonstöd kan vara ett effektivt stöd till personer med riskbruk av alkohol men för individen tillgängliga telefonsystem saknas idag. Ett system som erbjuder löpande stöd till egen förändring av alkoholvanorna är automatiserat telefonstöd, kallat Interactive Voice Response (IVR). För personer som sökt hjälp inom sjukvården kan systemet föra över relevant information till vårdgivaren mellan de personliga besöken. Målet med det aktuella projektet är att medverka till att personer med riskbruk av alkohol lätt får tillgång till ett testat hjälpmedel.
</p>
<br>
<h2 class="hleft">Förväntade effekter och resultat</h2><br>
<p>
De förväntade effekterna, mätta i tre randomiserade kontrollerade studier, är reducerat riskbruk av alkohol bland hjälpsökande från den allmänna befolkningen, bland öppenvårdspatienter i psykiatri och bland patienter i öppen beroendevård, där den sista gruppen också väntas öka följsamhet i behandlingen.
</p>
<br>
<h2 class="hleft">Uppläggning och genomförande</h2><br>
<p>
I detta projekt utvecklar vi två IVR system för identifiering av riskbruk och automatiserad kort intervention: ett samtalssystem som kallas TeleCoach” (med samtal på ca 5-20 minuter) och ett enklare uppföljningsstöd (samtal på under 2 minuter). Deltagarna i tre forskningsprojekt bland hjälpsökande som ringer till Alkohollinjen, patienter inom den allmänpsykiatriska öppenvården respektive öppenvårdspatienter i beroendevård kommer att lottas till en av tre grupper: uppringning med TeleCoach” eller enklare IVR 4 gånger under en månad, alternativt enbart uppföljning. Deltagarna följs upp i 6 månader.
<br><br>
Projektet startar i september 2009 och pågår till och med augusti 2012. Finansiering VINNOVA, Innovationer för framtidens hälsa.
</p><br>
<h2 class="hleft">Samarbetsorganisationer och finansiärer</h2>
<br>
Vinnova<br>
Karolinska Institutet<br>
KTH<br>
Lunds universitet<br>
Umeås universitet<br>
Alkohollinjen<br>
Beroendecentrum Stockholm<br>
Psykiatri Nordväst<br>
Region Skåne, Trelleborg psykiatri<br>
TeliaSonera AB<br>
Health Solutions AB<br>