<h3 class="hleft">För att delta genom beroendevården</h3><br>
<p>För att kunna delta i studien behöver du vara patient på en av nedanstående mottagningarna.
Vi hoppas kunna erbjuda deltagande i studien även till patienter på andra mottagningar i framtiden.</p>

<b>Aktuella mottagningar 2011</b>

<p>Sollentuna, Solna, Upplands Väsby, Sigtuna, Beroendeakuten Stockholm</p>