<div class="page-header">
	<h1 class="hleft">Välkommen</h1>
</div>
	<div class="well white">
		<div class="row-fluid">
			<div class="span4 center">
				<%= link_to image_tag("vad_ar_telecoach.jpeg"), about_path %><br><br>
				<p>Är du intresserad av projektet TeleCoach™? Du finner mer information om studiens syfte och mål här.</p>
			</div>
			<div class="span4 center">
				<%= link_to image_tag("byta_telefonnummer.jpeg"), signin_path %><br><br>
				<p>Är du med i studien och måste byta telefonnumer? Fyll i formuläret och vi ser till att det ordnas så snart som möjligt.</p>
			</div>
			<div class="span4 center">
				<%= link_to image_tag("info.jpeg"), research_path %><br><br>
				<p>Är du med i studien eller arbetar med människor som ligger i riskbrukszonen? Du finner mer information om hur studien går till här.</p>
			</div>
		</div>
	</div>



