<div class="page-header">
	<h1 class="hleft">Forskningsinformation</h1>
</div>

<p><b>Vi undersöker ett nytt sätt att förmedla hjälp och stöd vid riskabla alkoholvanor med TeleCoach™, som är en automatisk telefontjänst. Du kan delta i forskningsprojektet genom att utan kostnad ringa med din egen mobiltelefon.</b></p><br>

<p>I Sverige dricker ungefär en av fem personer alkohol på ett sätt som innebär hälsorisker. Enbart ett fåtal söker hjälp. Den här forskningsstudien syftar till att undersöka om automatiserad telefoni kan hjälpa dig som är orolig över dina alkoholvanor. Vår förhoppning är att denna typ av tjänster i framtiden ska bidra till att minska risken för att bli beroende av alkohol och få alkoholrelaterade skador.</p>
<br>
<h2 class="hleft">Vem kan delta?</h2>
<br>
<p>Alla som är 18 år eller äldre, har en mobiltelefon, har riskabla alkoholvanor och söker hjälp på nedanstående
mottagningar eller under Alkohollinjens stängningstider.</p>
<br>
<h2 class="hleft">Hur går studien till?</h2><br>

<p>Om du är intresserad av att delta ringer du en automatisk telefontjänst. Du får då svara på ett antal frågor om dina alkoholvanor. Om dina alkoholvanor innebär risker kommer telefontjänsten att be dig lämna ditt mobilnummer, för att telefontjänsten ska kunna ringa dig under studiens gång. Du lottas sedan till en av tre grupper. Om dina alkoholvanor inte innebär några risker kommer du inte att ingå i studien.</p>

<p>I två grupper, som har något olika samtalsinnehåll, kommer du att bli uppringd en gång i veckan under fyra veckor och sedan en gång efter sex månader. Deltagare i den tredje gruppen blir uppringda enbart en gång efter sex månader. Det är enkelt att använda telefontjänsten och samtalen tar bara ett par minuter.</p>
<p>Alla samtal med telefontjänsten är <b>kostnadsfria</b> för dig som medverkar.</p>

<p>Klicka på knapparna nedan för mer information.</p>

	<div class="well white">
		<div class="row-fluid">
			<div class="span4 center">
				<%= image_tag("Internet.png") %><br><br>
			</div>
			<div class="span4 center">
				<%= image_tag("ber.jpeg") %><br><br>
			</div>
			<div class="span4 center">
				<%= image_tag("psyk.jpeg") %><br><br>
			</div>
		</div>
	</div>

<h2 class="hleft">Sekretess</h2>
<br>
<p>Dina svar kommer att behandlas så att obehöriga inte kan ta del av dem. Insamlade data kommer att kodas med en kodnyckel, som enbart forskargruppen kommer att ha tillgång till. I övrigt kommer dina uppgifter inte att kunna kopplas till dig som individ. Bearbetning av insamlad data och presentation av studiens resultat kommer att göras i avidentierad form. Alla uppgifter hanteras enligt personuppgiftslagen (PuL)*.</p>
<br>
<h2 class="hleft">Frivillighet</h2>
<br>
<p>Att delta i studien är frivilligt och du kan när som helst avbryta din medverkan utan att ange orsak.</p>
<br>

<em>
* Du har enligt 26 § personuppgiftslagen (1998:204) rätt att gratis, en gång per kalenderår, efter skriftligt undertecknad ansökan ställd till oss, få besked om vilka personuppgifter om dig vi behandlar och hur vi använder dem. Du har också rätt enligt 28§ PuL att rätta till eventuellt felaktiga personuppgifter om dig. Vi vill också informera dig om att dina avidentierade uppgifter kan komma att analyseras hos våra forskarkollegor på Boston University i USA.</em>