<h1>Options</h1>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Text  </th>
			<th>Controllers</th>
		</tr>
	</thead>
	<tbody>
		<% @options.each do |option| %>
			<tr>
				<td><%= option.text %></td>
				<td>
					<%= link_to 'Show', option, class:"btn btn-small btn-success" %>
					<%= link_to 'Destroy', option, :confirm => 'Are you sure?', :method => :delete , class:"btn btn-small btn-danger"%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<br />