<footer class="footer">
  <small>
  	TLController skapad av <%= link_to "Charlie Lindviken", 'http://lindvi.se' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Hem",   root_path %></li>
      <li><%= link_to "Om", about_path %></li>
    </ul>
  </nav>
</footer>